ul{
    list-style-type: none;
    background-color: black;
    width: auto;
    height: 43px;
    padding: 0px;
    margin: 0px;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px;
    padding-left: 20px;
}
.nav1 li a:hover{
    background-color: green;
}
.nav2 li a:hover{
    background-color: red;
}
.nav3 li a:hover{
    background-color: blue;
}

    
